.mediaButton {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: right;
	max-height: 0;
	transition: max-height 1s ease-out;
	width: 50%;
	background-color: #e8e8e8;
	padding-bottom: 1px;
	padding-left: 440px;
	overflow: hidden;

	&.showMedia {
		max-height: 980px;
		transition: max-height 1s ease-in;
		background-color: #e8e8e8;
	}

	.circle {
		display: block;
		margin: auto;
		background-color: #fff;
		display: block;
		width: 220px;
		height: 220px;
		padding-top: 20px;
		text-align: center;
		background-color: #2496b3;
		border-radius: 15px;
	}

	.btn {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 260px;
		height: 50px;
		margin-left: 100px;
		// padding-top: 5px;
		padding-bottom: 5px;
		.btnCancel {
			display: block;
			background-color: red;
			width: 110px;
			height: 35px;
			border: 1px;
			border-radius: 4px;
		}

		.btnSave {
			display: block;
			width: 110px;
			height: 35px;
			background-color: green;
			border: 1px;
			border-radius: 4px;
		}
	}
}
