.accordion {
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-direction: column;
	width: 97%;

	.accordionCard {
		background-color: #2496b3;
		width: 97%;
		// height: 60px;
		margin-bottom: 10px;

		.accordionCardInner {
			display: flex;
			justify-content: space-between;
			height: 60px;
			width: 100%;
			text-align: center;
			align-items: center;
			padding-right: 10px;
		}
	}

	h1 {
		letter-spacing: 0.04rem;
		margin: 15px;
		font-size: 4rem;
	}

	h3 {
		display: inline-block;
		margin-left: 10px;
	}
}
