.accordion {
	display: flex;
	justify-content: space-between;
	align-content: center;
	// align-items: center;
	// text-align: center;
	flex-direction: column;
	width: 100%;
	// height: 100%;
	background-color: linear-gradient(#bdc3c7, #2c3e50);

	.accordionHeader {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		text-align: center;

		.accordionCard {
			display: flex;
			background-color: #2496b3;
			justify-content: space-between;
			text-align: center;
			align-items: center;
			align-content: center;
			width: 98%;
			height: 60px;
			margin: 3px;
			// margin-left: 18px;
			padding: 0 15px 0 15px;
			cursor: pointer;
			// overflow: hidden;
			border-radius: 6px;
		}
	}

	h1 {
		letter-spacing: 0.04rem;
		margin: 15px;
		font-size: 4rem;
	}
}
