.accordionContainer {
	display: flex;
	justify-content: space-between;
	background-color: #e8e8e8;
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 0;
	transition: max-height 4s ease-out;
	width: 50%;
	background-color: #e8e8e8;
	padding-bottom: 1px;
	overflow: hidden;

	&.contentShow {
		max-height: 980px;
		transition: max-height 4s ease-in;
		background-color: #e8e8e8;
	}

	.form {
		background-color: yellow;
	}

	label {
		font-weight: 600;
		text-align: left;
		margin-bottom: 5px;
		padding: 8px 0px 8px 8px;
	}
	input {
		background-color: #fff;
		width: 50%;
		height: 45px;
		margin: 4px 0px 4px 4px;
		border: solid 1px;
		border-radius: 3px;
	}
}
